.seller{
    
     background: #88C2BB 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
width: 260px;
height: 80px;
}
.seller-text{

font: normal normal normal  Mongolian Baiti;
letter-spacing: 0px;
color:white;
opacity: 1;
text-align: center;
padding-top: 25px;
}